'scopeName': 'source.grammar'
'name': 'Immutables Grammmar'
'fileTypes': [
  'grammar'
]
'patterns': [
  {
    'include': '#comments'
  }
  {
    'include': '#range-literal'
  }
  {
    'include': '#strings'
  }
  {
    'include': '#terms'
  }
  {
    'match': '\\||\\(|\\)|\\~'
    'name': 'punctuation.separator.grammar'
  }
  {
    'match': '\\?|\\+|\\*|\\!|\\&'
    'name': 'keyword.operator.grammar'
  }
  {
    'match': '^[a-z][a-z0-9_\\-]*[a-z0-9](?![:\\-])\\b'
    'name': 'entity.name.production.grammar'
  }
  {
    'match': '\\b[a-z][a-z0-9_\\-]*[a-z0-9](?![:\\-])\\b'
    'name': 'storage.production.grammar'
  }
  {
    'match': '[a-z][a-z0-9_\\-]*[a-z0-9][:]'
    'name': 'storage.field.grammar'
  }
]
'repository':
  'strings':
    'patterns': [
      {
        'name': 'string.quoted.single.grammar'
        'begin': '\''
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.grammar'
        'end': '\''
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.grammar'
        'patterns': [
          {
            'match': '\\\\.'
            'name': 'constant.character.escape.grammar'
          }
        ]
      }
    ]
  'terms':
    'patterns': [
      {
        'name': 'storage.type.terms.grammar'
        'begin': '<'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.terms.begin.grammar'
        'end': '>'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.terms.end.grammar'
      }
    ]
  'range-literal':
    'patterns': [
      'name': 'range.block.grammar'
      'begin': '\\[(?!--)'
      'beginCaptures':
        '0':
          'name': 'punctuation.definition.range.grammar'
      'end': '\\]'
      'endCaptures':
        '0':
          'name': 'punctuation.definition.range.grammar'
      'patterns': [
        {
          'match': '-|\\^'
          'name': 'punctuation.range.grammar'
        },
        {
          'match': '\\\\.'
          'name': 'constant.character.escape.grammar'
        },
      ]
    ]
  'comments':
    'patterns': [
      {
        'begin': '(^[ \\t]+)?(?=\\-\\-)'
        'beginCaptures':
          '1':
            'name': 'punctuation.whitespace.comment.leading.grammar'
        'end': '(?!\\G)'
        'patterns': [
          {
            'begin': '--'
            'beginCaptures':
              '0':
                'name': 'punctuation.definition.comment.grammar'
            'end': '\\n'
            'name': 'comment.line.grammar'
          }
        ]
      }
    ]
